<app-header [headerImg]="headerImage"></app-header>

<div class="container-fluid">
    <div class="container">
        <gallery [galleryName]="'elsaGallery'"
                 [flexBorderSize]="3"
                 [flexImageSize]="15"
        >
        </gallery>
    </div>
</div>
<div class="container-fluid embed-container">
    <div class="container">
        <iframe src="https://player.vimeo.com/video/371364929?title=0&byline=0&portrait=0&sidedock=0"
                height="100%"
                frameborder="0"
                allow="autoplay; fullscreen; picture-in-picture"
                allowfullscreen>
        </iframe>
    </div>
</div>
