<app-header [headerImg]="headerImage" ></app-header>

<div class="container-fluid">
    <div class="container">
        <gallery

                [galleryName]="'elsaGallery'">
        </gallery>
    </div>
</div>
<!--video/vimeo-->
<div class="container-fluid">
    <div class="container embed-container">
        <iframe src="https://player.vimeo.com/video/371364929" width="640" height="360" frameborder="0" allow="autoplay; fullscreen; picture-in-picture" allowfullscreen></iframe>
    </div>
</div>
