<div class="container-fluid">
	<div class="container">
		<div class="row">
			<div class="col-sm-6 slider">
				<carousel>
					<slide>
						<img src="../../../../assets/images/slider1.png"  alt="First slide" style="display: block; width: 100%;">

					</slide>
					<slide>
						<img src="../../../../assets/images/slider2.png"  alt="Second slide" style="display: block; width: 100%;">
					</slide>
					<slide>
						<img src="../../../../assets/images/slider3.png"  alt="Third slide" style="display: block; width: 100%;">
					</slide>
				</carousel>
			</div>
			<div class="col-sm-6">
				<span>{{'ModernDesign' | translate}}</span>
				<p [innerHtml]="'DesignDescription' | translate">

				</p>
			</div>
		</div>
	</div>

</div>
