<carousel [noPause]="false">
	<slide *ngFor="let apartment of apartments">
		<img [src]="'../../../../assets/images/' + apartment.type.slideImage + '.png'" alt="First slide" style="display: block; width: 100%;">
		<div class="carousel-caption d-none d-md-block text" *ngIf="apartment.buildingId == 1">
			<p>{{apartment.type?.description | translate}}</p>
		</div>
		<div class="carousel-caption d-none d-md-block apartment">
			<div class="row">
				<div class="col-sm-6 left">
					<h1 style="text-transform: uppercase">{{'SliderP1' | translate}}</h1>
					<h2 style="text-transform: uppercase">{{'SliderP2' | translate}}</h2>
					<div class="button">
						<button class="btn btn-gold" *ngIf="apartment?.buildingId == 1">{{'ElsaI' | translate}} - {{apartment.type?.name | translate}}</button>
						<button class="btn btn-gold" *ngIf="apartment?.buildingId == 2">{{'ElsaII' | translate}} - {{apartment.type?.name | translate}}</button>

						<button class="btn btn-success">{{apartment.status | translate}}</button>
					</div>
				</div>
				<div class="col-sm-6 right">
					<div class="icons">
						<div class="icon 1">
							<img src="../../../../assets/images/square.png">
							<div class="info">
								<span class="icon">{{'Area' | translate}}</span>
								<span class="icon text">{{apartment.area}}m²</span>
							</div>

						</div>
						<div class="icon 2">
							<img src="../../../../assets/images/rooms.png">
							<div class="info">
							<span class="icon">{{'Rooms' | translate}}</span>
							<span class="icon text">{{apartment.roomsNumber}}</span>
							</div>
						</div>
						<div class="icon 3">
							<img src="../../../../assets/images/bathroom.png">
							<div class="info">
							<span class="icon">{{'Bathroom' | translate}}</span>
							<span class="icon text">{{numberOfBathrooms}}</span>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</slide>
</carousel>
