<ngbox></ngbox>
<app-header [headerImg]="img3" [headerTextBuilding]="'POSLOVNI PROSTOR , LOKALI'" [headerTextSubBuilding]="''"></app-header>
<div class="premise-wrapper d-flex justify-content-center">
    <div class="container m-0 p-0">
        <div class="row table">
            <div class="col-sm-6">
                <table class="table">
                    <thead>
                    <tr>
                        <th></th>
                        <th>{{'Area' | translate}}</th>
                        <th>{{'Status' | translate}}</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr *ngFor="let l of locals;let i = index" (click)="forwardData(l)">
                        <th>Lokal {{i+1}}</th>
                        <th>{{l?.area}} m²</th>
                        <th>{{l?.status}}</th>
                    </tr>
                    </tbody>
                </table>
            </div>
            <div class="col-sm-6 right">
                <div *ngIf="selectedLocal"
                     class="local-base"
                     ng-box
                     [src]="'../../../../assets/images/' + selectedLocal.imgHailight"
                     [image]="true" [cache]="true"
                     style="cursor: pointer;transition: 0.2s;">
                    <div class="search">
                        <img class="searchIcon" src="../../../../assets/images/lupa.png">
                    </div>
                    <img [src]="'../../../../assets/images/' + selectedLocal.imgModel + '.png'">
                </div>
            </div>
        </div>
    </div>
</div>
