<ngbox></ngbox>

<div class="container">
	<div class="row">
		<div class="col-sm-6">
			<table class="table">
				<thead>
				<tr>
					<th>{{'Number' | translate}}</th>
					<th>{{'Prostorija' | translate}}</th>
					<th>{{'Area' | translate}}</th>
					<th></th>
				</tr>
				</thead>
				<tbody>
				<tr  *ngFor="let room of apartment?.rooms">
					<th>{{room?.roomNumber}}</th>
					<td>{{room?.name | translate}}</td>
					<td>{{room?.area}}m²</td>
					<td><img src="../../../../assets/images/carret-table.png" style="width: 20px;"></td>
				</tr>

				</tbody>
			</table>
			<span>
				{{'TableDescription' | translate}}
			</span>
		</div>
		<div class="col-sm-6">
			<div *ngIf="apartment?.imgHailight" class="base" ng-box [src]="'../../../../assets/images/' + apartment?.imgHailight" [image]="true" [cache]="true"  [style.display.none]="title"   style="cursor: pointer;transition: 0.2s;">
				<div class="search">
					<img class="searchIcon" src="../../../../assets/images/lupa.png">
				</div>
				<img [src]="'../../../../assets/images/' + apartment?.imgModel + '.png'">
			</div>
		</div>
	</div>
</div>
