<div class="container-fluid">
	<div class="container">
		<div class="row">
			<div class="col-sm-6">
				<p>
					{{'ZlatiborDescriptionHome' | translate}}
				</p>
			</div>
			<div class="col-sm-6 images">
				<div class="content1">
					<img src="../../../../assets/images/crkva.png">
					<img src="../../../../assets/images/zlatiborImg.png">
					<img src="../../../../assets/images/jezero.png">
				</div>
				<div class="content2">
					<img src="../../../../assets/images/zlatibor2.png">
					<img src="../../../../assets/images/tornikImg.png">
					<img src="../../../../assets/images/dinoparkImg.png">
				</div>
					<button class="btn btn-default" routerLink="location">{{'Detail' | translate}}...</button>
			</div>
		</div>
	</div>

</div>
